.landing {
    display: flex;
    flex-direction: column;
    height: 75%;
    padding: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .divText {
    font-size:x-large;
    color: black;
  }

  .imgDiv {
    border: 2px solid #023047;
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
  }

  .imgDiv img {
    background-color: #023047;
    border: 2px solid #b5838d;
    border-radius: 50%;
    height: max-content;
    width: max-content;
  }