.nav1 {
    display: flex;
    height: 75%;
    width: 100%;
    align-items: center; 
    justify-content: center;
    gap: 10px;
  }

  @media (max-width: 700px) {
    .nav1 {
      display: flex;
      height: 80rem;
      width: 100%;
      align-items: center; 
      justify-content: center;
      /* gap: 10px; */
      padding-top: 10rem;
      padding-bottom: 20rem;
    }
  }
  

  