.home {
  display: flex;
  height: 75%;
  padding: 20px;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.img {
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 50%;
  box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.459); */
  height: 29rem;
}

.text {
  color: #001219;
  background-color: rgba(255, 255, 255, 0.24);
  border-left: 2px dashed black;
  /* border-radius: 3px; */
  height: 100%;
  width: 600px;
  padding: 30px;
  box-shadow: 8px 8px 21px -14px rgba(0, 0, 0, 0.75);
}
