.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10%;
  gap: 5px;
  overflow: hidden;
  z-index: 3;

}
.navHidden {
  display: none;
}

@keyframes anim-navbar {
  0% {
    opacity: 0;
    transform: translatex(80%);
  }
  35% {
    opacity: 0;
    transform: translatex(60%);
  }
  70% {
    opacity: 1;
    transform: translatex(40%);
  }
  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

.logo {
  width: 8rem;
  height: 3rem;
  left: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  border-radius: 50%;
}
.logo img {
  height: 100%;
  width: 40%;
  border: 1px solid rgba(76, 72, 72, 0.658);
  border-radius: 50%;
}
.menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 70%;
  right: 0px;
  position: absolute;
  /* background-color: transparent; */
  border: 3px solid var(--main-nav-color);
  border-right: none;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  animation: 2s anim-navbar ease;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 36px;
  width: 100%;
  right: 0px;
  position: absolute;
  background-color: var(--main-nav-color);
  border: 1px solid var(--main-border-color);
  /* border: 3px solid #fca311; */
  border-right: none;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  /* padding: 3px; */
}


.li:hover {
  /* scale: 1.2; */
  color: white;
  background-color: black;
  padding: 2px 1px 2px 1px;
  border-radius: 10px;
  transition: 0.4s;
}

.link {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  list-style: none;
}

.link:hover {

  color: white;

}


.linkCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  font-style: italic;
  font-weight: bold;
  /* list-style: none; */
}

/* Menu hamburguesa */

.nav__label,
.nav__input {
  display: none;
}

.btn_hmb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.linea1,
.linea2,
.linea3 {
  width: 50px;
  height: 10px;
  background-color: var(--main-white-color);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 400ms ease;
}

@media (max-width: 700px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* width: 100%; */
    background-color: var(--main-nav-color);
  }
  .logo {
    position: fixed;
  }
  .nav__label {
    display: block;
    cursor: pointer;
  }
  /* .navBar{
    position: ;
  } */
  .menu1 {
    padding-left: 0;
    /* gap: 3rem; */
    padding: 5rem;
    /* padding-bottom: 0.5rem; */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 3.9rem;
    /* bottom: 0; */
    width: 100%;
    height: 50%;
    border-radius: 0px;
    clip-path: circle(0 at center);
    transition: clip-path 0.4s ease-in-out;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
    background-color: var(--main-nav-color);
  }

  .nav__menu > h2 {
    cursor: pointer;
  }

  .nav__input:checked + .menu1 {
    clip-path: circle(100% at center);
  }

  .navBar > section > div > h2 {
    display: none;
  }

  .navBar > section > div > p {
    display: none;
  }
}
