*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: brown;
}

body {
  background-color: white;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  --main-nav-color: #023047;
  --main-border-color: #b5838d;
  --main-white-color: #e5e5e5;
  --main-background-color: #778da9;
}

