.nav {
  display: flex;
  height: 75%;
  width: 100%;
  gap: 10px;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80%;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
  padding: 5rem;
  padding-top: 1rem;
}

.cardDiv {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .nav {
    /* padding-top: 25rem; */
    background-color: var(--main-background-color);
    display: flex;
    height: 80rem;
    width: 50rem;
    /* padding: 20px; */
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    /* padding-top: 100px; */
    gap: 10px;
  }

  .servicios {
    grid-template-columns: repeat(1, 0.5fr);
    width: 20rem;
  }
}
